<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Warmup">
    <listeners>
        <listener class-name="Selenium_Java_TestNG_Part4.ExtentReportManager"></listener>
    </listeners>
    <parameter name="browser" value="CHROME"></parameter>
    <test name="DemoParametertest">
        <groups>
            <run>
                <include name="Master"></include>
            </run>
        </groups>
        <classes>
            <class name="Warmup.Test10_groups"></class>
        </classes>
    </test>
</suite>